.example-container {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 24px;
  position: relative;
  width: 100%;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.example-container > * {
  width: 100%;
}
.mat-raised-button.mat-primary {
  background-color: #2bb673;
  width: 150px;
  font-family: 'spectralregular';
  border-radius: 5px;
}
mat-form-field {
  width: 100%;
  font-family: 'montserratregular';
}
mat-option {
  font-family: 'montserratregular';
}
mat-checkbox {
  font-family: 'montserratregular';
}
::ng-deep .mat-select-value-text {
  font-family: 'montserratregular';
}
textarea {
  resize: none !important;
  height: 100%;
  font-family: 'montserratregular';
}
.textAreaSet {
  height: 120px;
}
.textAreaSet > ::ng-deep .mat-form-field-wrapper {
  height: 120px;
}
.textAreaSet > ::ng-deep .mat-form-field-wrapper > .mat-form-field-flex {
  height: 100px;
}
.textAreaSet
  > ::ng-deep
  .mat-form-field-wrapper
  > .mat-form-field-flex
  > .mat-form-field-infix {
  height: 100px;
}
.addMetaBtn {
  position: absolute;
  left: 190px;
  bottom: 24px;
}
@media only screen and (max-width: 1199px) {
  .example-container {
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .mat-raised-button.mat-primary {
    width: 120px;
  }
}
