table {
  width: 100%;
  min-width: 700px;
  font-family: 'montserratregular';
}
.mat-fab.mat-primary,
.mat-flat-button.mat-primary,
.mat-mini-fab.mat-primary,
.mat-raised-button.mat-primary {
  background-color: #2bb673;
}
.mat-raised-button {
  line-height: 27px;
}
.prodImg {
  height: 40px;
  width: 60px;
  margin: 5px auto;
  display: block;
}
.searchBar {
  float: right;
  margin-top: 5px;
  margin-right: 15px;
}
.mat-header-cell {
  color: #000;
}
.mat-raised-button.primary1 {
  background-color: #2bb673;
  color: #fff;
  font-family: 'spectralregular';
}
td,
th {
  border-right: 1px solid #e0e0e0;
  padding: 0 5px !important;
}
.searchBox > ::ng-deep .mat-form-field-wrapper > .mat-form-field-flex {
  width: 280px !important;
}
.mat-elevation-z8 {
  width: 100%;
  overflow-x: auto;
}
mat-form-field {
  width: 100%;
  font-family: 'montserratregular';
}

@media only screen and (max-width: 600px) {
  td.mat-cell:first-of-type,
  th.mat-header-cell:first-of-type {
    padding-left: 10px;
  }
  td.mat-cell:last-of-type,
  th.mat-header-cell:last-of-type {
    padding-right: 10px;
  }
  .mat-elevation-z8 {
    width: 100%;
    overflow-x: auto;
  }
  table,
  .mat-paginator {
    width: 750px;
  }
}
